.nav-item {
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

.heading {
    color: #181819;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 2rem;
}

.sub-heading {
    color: #77494e;
    font-weight: bolder;
    font-size: 1rem;
    margin: 1rem 0;
}

.work-duration {
    text-align: right;
}

.border-left {
    border-left: 1px solid #ffffff !important;
}

.border-right {
    border-right: 1px solid #ffffff !important;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    margin: 0 0.5rem;
}

.ts-heading {
    font-weight: bold;
}

h5 {
    color: #000;
}

.carousel-indicators li{
    background-color: #000 !important;
}

span {
    white-space: nowrap;
}

.footer {
    margin: 0;
    background-color: #343a40;
    height: 4rem;
}

.copyright {
    width: 100%;
    padding-top: 1rem;
    text-align: center;
    color: #ffffff;
}

.main-container {
    background-image: radial-gradient(at center center, rgb(248, 248, 248) 0%, rgb(223, 224, 224) 48%, rgb(199, 199, 199) 100%);
    padding: 0 0 2rem 0;
}

#carouselExampleIndicators {
    border: 0.5px solid #343a40;
    padding: 0.5px;
}